@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --index: calc(1vh + 1vw);
}

@font-face {
    font-family: comfortaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fafafa;
    font-family: comfortaa;
}

body {
    position: relative;
    background: #101010;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 calc(var(--index) * 3);
}

.row-featured {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: calc(var(--index) * 1);
}

.row-trending {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: calc(var(--index) * 1);
}

.hover {
    transition: transform .5s ease;
}

.hover:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}