body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    background: #101010;
}
aside {
    position: relative;
    display: flex;
    width: 1393px;
    top: 120px;
    left: 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px; /* Расстояние между элементами */
}

  /* Определяем стили элементов сетки */
.grid-item {
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */

    width: 253px;
    height: 365px;

    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.64) 75.52%, rgba(0, 0, 0, 0.75) 88.54%, rgba(0, 0, 0, 0.85) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

    transition: all .3s ease;
    cursor: pointer;
}
.grid-item:hover {
    opacity: 0.1;
}
.grid-text {
    position: absolute;
    font-size: 11px; /* Размер текста */
    text-align: center; /* Выравнивание текста по центру */

    margin-top: 0px;
    width: 253px;
    height: 365px;
}
.grid-text a {
    position: relative;
    display: block;
    margin-top: 0px;
    width: 253px;
    height: 365px;
}
/* Main */
main {
    width: 100%;
    height: 215vh;
}
.title {
    width: 180px;
    height: 27px;
    display: flex;
    position: relative;
    top: 85px;
    left: 81px;
}
.catalog_title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-right: 8px;
}
.catalog_subtitle {
    color: #8F8F8F;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* block */
.block {
    width: 336px;
    height: 590px;
    
    position: absolute;
    top: 169px;
    left: 1504px;

    border-radius: 10px;
    background: #161616;
}
.block_title {
    position: relative;
    top: 25px;
    left: 24px;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.34px;
}
/* Checkbox */
/* Стилизация блока "block_checkbox" */
.block_checkbox {
    display: flex;
    position: relative;
    top: 30px;
    left: 24px;
  }
.block_checkbox_2 {
    display: flex;
    position: relative;
    top: 65px;
    left: 24px;
}
.block_checkbox_3 {
    display: flex;
    position: relative;
    top: 65px;
    left: 24px;
}
.column_1 {
    width: 149px;
}

input[type="checkbox"] {
    margin-right: 5px;
    color: #8B8B8B;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.block_year_input_1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}
.block_year_input_2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}
.block_year_input_1::placeholder {
    color: #8B8B8B;
}
.block_year_input_2::placeholder {
    
}
label {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
.checkbox_container_1 {
    padding: 10px 0;
    width: 130px;
}
.checkbox_container_1 label {
    width: 150px;
    cursor: pointer;
    display: flex;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.checkbox_container_1 input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;  
   
}
.checkbox_container_1 label::before {
  content: '';
  width: 24px;
  height: 24px;
  margin-right: .5em;
  border: 1.3px solid #49435E;
  border-radius: 4px;
}
.checkbox_container_1 input[type='checkbox']:checked + label::before {
  content: '\002714';
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}
/* Block_year */
.block_year {
    position: relative;
    display: flex;
    width: 288px;
    height: 40px;
    left: 24px;
}
.block_year input {
    position: relative;
    top: 46px;
    width: 136px;
    height: 40px;

    border-radius: 10px;
    background: #222;

    border: none;
}
.block_year input:focus {
    outline: none;
}
.block_year_input_1 {
    margin-right: 16px;
}
.save {
    position: relative;
    top: 75px;
    left: 22px;
    display: flex;
    width: 116px;
    height: 41px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #2D2D2D;
    border: 1.9px solid var(--green, #4ab86700);

    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;
    transition: all 0.3s ease;
}
.save:hover {
    border-color: #4AB868;
}