{% extends 'prof_settings/prof_settings.html' %}

{% load static %}

{% block title %}Настройки профиля {{user.username}}{% endblock %}

{% block content %}

<header>
    <nav class="nav_nav">
        <div class="nav_logo">
            <img src="{% static 'main/img/Ellipse 1636.svg' %}" alt="">
            <h1>Ao</h1>
            <h2>Spa</h2>
        </div>
        <ul class="nav_ul">
            <a href="{% url 'main' %}">Главная</a>
            <a href="{% url 'catalog_none' %}">Каталог</a>
            <a href="">Команда</a>
            <a href="">Помочь проекту</a>
        </ul>
        <div class="search">
            <button class="search_button"><img src="{% static 'main/img/search.png' %}" alt=""></button>
            <input class="nav_input" type="text" placeholder="Поиск...">
        </div>
        <a class="notification" href=""><img src="{% static 'main/img/colocol.png' %}" alt=""></a>
        {% if user.is_authenticated != True %}
            <button class="nav_profile"><a href="{% url 'login' %}"><i class="fa-solid fa-user"></i>Войти</a></button>
        {% else %}
            <button class="nav_profile"><a href="{% url 'profile' %}">Профиль</a></button>
        {% endif %}
        
    </nav>
</header>
<aside>
    <h1>Настройки</h1>
    <button class="btn_account clicked">Аккаунт</button>
    <button class="btn_profile">Профиль</button>
    <button class="btn_notification">Уведомление</button>
    <button class="btn_session">Сессия</button>
</aside>
<main class="first clicked_1">
    <!-- Account -->
    <div class="bg"></div>
    <div class="logo"></div>
    <button class="change_avatar">Изменить аватар</button>
    <button class="change_bg">Изменить обложку</button>
    <button class="delete">Удалить</button>
    <!-- Notification -->
    <div class="notification_2 active">
        <h1 class="notification_h1">Социальные</h1>
        <div class="checkbox_container_profile">
            <input type="checkbox" id="cb1" name="Notification_1">
            <label for="cb1">Когда кто-то отвечает на мой комментарий</label>
        </div>
        <div class="checkbox_container_profile">
            <input type="checkbox" id="cb2" name="Notification_2">
            <label for="cb2">Упоминание в комментариях</label>
        </div>
        <div class="checkbox_container_profile">
            <input type="checkbox" id="cb3" name="Notification_3">
            <label for="cb3">Когда кто-то повышает рейтинг моего комментария</label>
        </div>
        <div class="checkbox_container_profile">
            <input type="checkbox" id="cb4" name="Notification_4">
            <label for="cb4">Когда кто-то понижмает рейтинг моего комментария</label>
        </div>
        <h2 class="notification_h2">Аниме</h2>
        <div style="top: 50px;" class="checkbox_container_profile">
            <input type="checkbox" id="cb5" name="Notification_5">
            <label for="cb5">Когда выходят новые аниме-серии из моего списка</label>
        </div>
        <div style="top: 50px;" class="checkbox_container_profile">
            <input type="checkbox" id="cb6" name="Notification_6">
            <label for="cb6">Когда выходят новые тайтлы на сайте</label>
        </div>
        <div style="top: 50px;" class="checkbox_container_profile">
            <input type="checkbox" id="cb7" name="Notification_7">
            <label for="cb7">Получать уведомления на почту о релизах</label>
        </div>
        <h4 class="notification_h3">Изменения на сайте</h4>
        <div style="top: 75px;" class="checkbox_container_profile">
            <input type="checkbox" id="cb8" name="Notification_8">
            <label for="cb8">Получать уведомления по обновлению сайта</label>
        </div>
    </div>
    <!-- Profile -->
    
</main>
<main class="second clicked">
    <h1>Никнейм</h1>
    <input class="nikneim" type="text" placeholder="Никнейм">
    <h2>Рамки</h2>
    <div class="slider"></div>
    <h3>Информация о себе</h3>
    <input class="information" type="text" placeholder="Написать">
    <div class="buttons">
        <div class="smile">
            <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12" fill="none">
                <path d="M10 12V0L0 0V12H10Z" fill="#9A9A9A"/>
              </svg></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div class="change_buttons">
            <button class="cancel">Отменить</button>
            <button class="save">Сохранить</button>
        </div>
    </div>
</main>
<footer style="position: relative; top: 0px;">
    <h1>2023-Kurosawa</h1>
    <a class="telegram" href=""><img src="img/telegram.png" alt=""></a>
    <a class="discord" href=""><img src="img/discord.png" alt=""></a>
    <a class="vk" href=""><img src="img/vk.png" alt=""></a>
    <a class="youtube" href=""><img src="img/youtube.png" alt=""></a>
    <a class="h" style="margin-left: 436px;" href="">Политика</a>
    <a class="h" href="">Соглашение</a>
    <a class="h" href="">Реклама</a>
</footer>

{% endblock %}