{% extends 'detail/anime.html' %}

{% load static %}

{% block script %}  
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
{% endblock %}

{% block title %}{{anime.title}}{% endblock %}

{% block content %}

<div class="wraper">
    <div class="content">
        <div class="bg"></div>
        <nav class="nav_nav">
            <div class="nav_logo">
                <img src="{% static 'main/img/Ellipse 1636.svg' %}" alt="">
                <h1>Ao</h1>
                <h2>Spa</h2>
            </div>
            <ul class="nav_ul">
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'catalog_none' %}">Каталог</a>
                <a href="">Команда</a>
                <a href="">Помочь проекту</a>
            </ul>
            <div class="search">
                <button class="search_button"><img src="{% static 'main/img/search.png' %}" alt=""></button>
                <input class="nav_input" type="text" placeholder="Поиск...">
            </div>
            <a class="notification" href=""><img src="{% static 'main/img/colocol.png' %}" alt=""></a>
            {% if user.is_authenticated != True %}
                <button class="nav_profile"><a href="{% url 'login' %}"><i class="fa-solid fa-user"></i>Войти</a></button>
            {% else %}
                <a class="nav_profile" href="{% url 'profile' %}"><img src="{% static 'main/img/Ellipse 1637.png' %}" alt=""></a>
            {% endif %}
            
        </nav>

        <header class="header">
            <div class="container">
                <div class="main-card">
                    <div class="block">
                        <img src="{{anime.image.url}}" alt="">
                    </div>
                    <div class="content-header">
                        <h1>{{anime.title}}</h1>
                        <div class="star">
                            <ul class="info">
                                <li><p><i class="fa-solid fa-star"></i>9 . 9</p></li>
                                <li>2023</li>
                                <li>1-8 серий</li>
                                <li><i class="fa-solid fa-play"></i> Rus</li>
                                <li>14+</li>
                            </ul>
                        </div>
                        <ul class="static">
                            <li>Название: {{anime.title}}</li>
                            <li>Оценка: none</li>
                            <li>Год выпуска: {{anime.premiere}}</li>
                            <li>Сезонов: 3</li>
                            <li>Серий: 26</li>
                        </ul>
                        <div class="buttons-header-detail">
                            <button class="wathing"><a href="#">Смотреть онлайн</a></button>
                            <button class="to-w"><a href="#">Трейлер</a></button>
                            <button class="watched"><a href="#"><i class="fa-solid fa-bookmark"></i></a></button>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <nav class="menu">
                        <ul>
                            <li><a href="#" class="li1">Описание</a></li>
                            <li><a href="#" class="li2">Персонажи</a></li>
                        </ul>
                    </nav>
                    <main>
                        <div class="display">
                            <div class="description">
                                <p class="desc">{{description}}</p>
                                <p class="des" id="next">Подробное описание</p>
                            </div>
                            <div class="stars">
                                <h1>Поставьте оценку</h1>
                                <p>Оценки поднимают рейтинг и просмотры</p>
                                <div class="stars-icons">
                                    <ul>
                                        <li><i class="fa-solid fa-star star1"></i></li>
                                        <li><i class="fa-solid fa-star star2"></i></li>
                                        <li><i class="fa-solid fa-star star3"></i></li>
                                        <li><i class="fa-solid fa-star star4"></i></li>
                                        <li><i class="fa-solid fa-star star5"></i></li>
                                        <li><i class="fa-solid fa-star star6"></i></li>
                                        <li><i class="fa-solid fa-star star7"></i></li>
                                        <li><i class="fa-solid fa-star star8"></i></li>
                                        <li><i class="fa-solid fa-star star9"></i></li>
                                        <li><i class="fa-solid fa-star star10"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </main>
                    <div class="player">
                        <video controls class="player-controll"></video>
                        <script>
                            const video = document.querySelector(".player-controll")

                            if (Hls.isSupported()) {
                                var hls = new Hls()
                                hls.loadSource("https://cache.libria.fun{{url}}")
                                hls.attachMedia(video)
                            } else if (video.canPlayType("aplication/vnd.apple.mpegurl")) {
                                video.src = "https://cache.libria.fun{{url}}"
                                video.addEventListener("loadedmetadata" , () => {
                                    video.play()
                                })
                            }
                        </script>
                        <div class="controls">
                            <div class="select">
                                <div class="seria">
                                    <select name="" id="">
                                        {% for i in seria %}
                                            <option value="">Серия: {{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="information-header">
                    <div class="lists">
                        <ul>
                            <h1>Информация</h1>
                            <div class="block-info">
                                <li class="color">Страна:</li>
                                <li>Япония</li>
                            </div>
                            <div class="block-info">
                                <li class="color">Жанр:</li>
                                <li>{{genres}}</li>
                            </div>
                            <div class="block-info">
                                <li class="color">Премьера:</li>
                                <li>{{anime.premiere}}</li>
                            </div>
                        </ul>
                        <ul>
                            <h1>Съёмочная группа</h1>
                            <div class="block-info">
                                <li class="color">Режисер:</li>
                                <li>{{anime.director}}</li>
                            </div>
                            <div class="block-info">
                                <li class="color">Актеры:</li>
                                <li>Ёко Хикаса, Томокадзу Сугита</li>
                            </div>
                            <div class="block-info">
                                <li class="color">Сценаристы:</li>
                                <li>Гигаэмон Итикава, Гидо Амагакурэ</li>
                            </div>
                        </ul>
                        <ul>
                            <h1>Звуки и субтитры</h1>
                            <div class="block-info">
                                <li class="color">Аудиодорожки:</li>
                                <li>{{anime.audio_tracks}}</li>
                            </div>
                            <div class="block-info">
                                <li class="color">Субтитры:</li>
                                <li>{{anime.subtitles}}</li>
                            </div>
                            <div class="block-info">
                                <li class="color">Качество:</li>
                                <li>SD, HD, Full HD</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <footer>
            <h1>2023-Kurosawa</h1>
            <a class="telegram" href=""><img src="img/telegram.png" alt=""></a>
            <a class="discord" href=""><img src="img/discord.png" alt=""></a>
            <a class="vk" href=""><img src="img/vk.png" alt=""></a>
            <a class="youtube" href=""><img src="img/youtube.png" alt=""></a>
            <a class="h" style="margin-left: 436px;" href="">Политика</a>
            <a class="h" href="">Соглашение</a>
            <a class="h" href="">Реклама</a>
        </footer> 
    </div>
</div>

{% endblock %}